@model IEnumerable<DaXpress.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet"
	  href="https://cdjns.cloudflare.com/ajax/libs/font-awsome/4.7.0/css/font-awesome.min.css">


<div class="container">
	<h1>All products</h1>
	<div class="cards">
		@foreach(var m in Model)
		{
			<div class="card bg-body">
				<div class="card-header text-primary">
					@m.Name
				</div>
				
				<div class="card-img">
					<img src="@m.ImageURL"/>
				</div>

				<div class="card-body text-info bg-body">
					@m.Description
				</div>

				<div class="card-footer bg-secondary">
					The price is: @m.Price$
					<a class="btn btn-info" asp-action="Details" asp-route-id="@m.Id">Details</a>
					<a class="btn btn-primary" asp-action="AddToCart" asp-route-id="@m.Id">Add to cart</a>
				</div>

			</div>
		}
	</div>
</div>